  'type': 'number',
  {{#maximum}}
  'maximum': {{maximum}},
  {{/maximum}}
  {{#minimum}}
  'minimum': {{minimum}},
  {{/minimum}}
  {{#exclusiveMaximum}}
  'exclusiveMaximum': {{exclusiveMaximum}},
  {{/exclusiveMaximum}}
  {{#exclusiveMinimum}}
  'exclusiveMinimum': {{exclusiveMinimum}},
  {{/exclusiveMinimum}}
  {{#multipleOf}}
  'multipleOf': {{multipleOf}},
  {{/multipleOf}}
  {{#default}}
  'default': {{{default}}},
  {{/default}}
